
#ignore all  files and directories
*

# allow gitignore file to be tracked
!.gitignore

# allow all subdirectories to be tracked
!*/

# ignore all hidden files and directories
.*/

#allow .git directory to be tracked
!.git/


#igoring the UNSOLVED Directory to be tracked
Unsolved Problems/
